<h1>Listing contents</h1>

<table class="default">
  <tr>
    <th>Name</th>
    <th>Aktion</th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.name %></td>
    <td><%= link_to 'Show', content %><br>
    		<%= link_to 'Edit', edit_content_path(content) %><br>
    		<%= link_to 'Destroy', content, :confirm => 'Are you sure?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_content_path %>
