<h1><%= @title %></h1>

<%= form_tag(search_results_path, :method => :post, :class => "default") do %>

<div>
	<%= label_tag "Schlüsselbegriff" %>
	<%= text_field_tag "game[keyword]" %>
</div>

<div>
	<%= label_tag "Spieleranzahl" %>
	<%= select :game, "player_count",  PlayerCount.all.collect{ |c| [ c.to_s, c.id ] }, prompt_for_selects %>
</div>

<div>
	<%= label_tag "Spielort" %>
	<%= select :game, "location", Location.all.collect{ |l| [ l.description, l.id ] }, prompt_for_selects %>
</div>

<div>
	<%= label_tag "Spielform" %>
	<%= select :game, "form", Game::FORM.collect{ |k, v| [v, k] }, prompt_for_selects %>
</div>

<div>
	<%= label_tag "Spielintensität" %>
	<%= select :game, "intensity",  Game::INTENSITY_LEVELS.collect{ |k, v| [v, k] }, prompt_for_selects %>
</div>

<div>
	<%= label_tag "Spielart" %>
	<%= select :game, "category", Category.all.collect{ |c| [c.name, c.id] }, prompt_for_selects %>
</div>

<div>
	<%= label_tag "Spielinhalt" %>
	<%= select :game, "content", Content.all.collect{ |c| [ c.name, c.id ] }, prompt_for_selects %>
</div>


<div>
	<%= submit_tag "Suchen" %>
</div>

<% end %>


<p>
	<%= link_to "Home", "/" %>
</p>