<h1><%= @title %></h1>

<%= form_tag(search_results_path, :method => :post, :class => "default") do %>

<div>
	<%= label_tag "Name" %>
	<%= text_field_tag :name %>
</div>

<div>
	<%= submit_tag "Suchen" %>
</div>

<% end %>