<h1><%= @title %></h1>

<%= form_tag(search_results_path, :method => :post, :class => "default") do %>

<div>
	<%= label_tag "Schlüsselbegriff" %>
	<%= text_field_tag "game[keyword]" %>
</div>

<div>
	<%= label_tag "Spieleranzahl" %>
	<% player_counts = PlayerCount.all %>
	<div class="check-boxes">
		<% player_counts.each do |c| %>
		<label class='check-box-label'>
			<%= check_box_tag c.id %>
			<%= "#{c}" %>
		</label><br>
		<% end %>
	</div>
</div>

<div>
	<%= label_tag "Spielort" %>
	<% locations = Location.all %>
	<div class="check-boxes">
		<% locations.each do |l| %>
		<label class='check-box-label'>
			<%= check_box_tag "location_#{l.id}" %>
			<%= l.description %>
		</label><br>
		<% end %>
	</div>
</div>

<div>
	<%= label_tag "Spielform" %>
	<%= select :game, "form", Game::FORM.collect{ |k, v| [v, k] }, prompt_for_selects %>
</div>

<div>
	<%= label_tag "Spielintensität" %>
	<%= select :game, "intensity",  Game::INTENSITY_LEVELS.collect{ |k, v| [v, k] }, prompt_for_selects %>
</div>

<div>
	<%= label_tag "Spielart" %>
	<div class="check-boxes">
		<% categories = Category.all %>
		<% categories.each do |c| %>
		<label class="check-box-label">
			<%= check_box_tag "category_#{c.id}" %>
			<%= c.name %>
		</label><br>
		<% end %>
	</div>
</div>

<div>
	<%= label_tag "Spielinhalt" %>
	<div class="check-boxes">
		<% content = Content.all %>
		<% content.each do |c| %>
		<label class="check-box-label">
			<%= check_box_tag "content_#{c.id}" %>
			<%= c.name %>
		</label><br>
		<% end %>
	</div>
</div>


<div>
	<%= submit_tag "Suchen" %>
</div>

<% end %>


<p>
	<%= link_to "Home", "/" %>
</p>