<%= form_for @game, :html => { :class => :default } do |f| %>

<div>
	<%= f.label "Name" %>
	<%= f.text_field :name %>
</div>

<div>
	<%= f.label "Beschreibung" %>
	<%= f.text_area :description %>
</div>

<div>
	<%= f.label "Varianten" %>
	<%= f.text_area :extension %>
</div>

<div>
	<%= f.label "Spieleranzahl" %>
	<% player_counts = PlayerCount.all %>
	<div class="check-boxes">
		<% player_counts.each do |c| %>
		<label class='check-box-label'>
			<%= check_box_tag c.id %>
			<%= "#{c}" %>
		</label><br>
		<% end %>
	</div>
</div>

<div>
	<%= f.label "Spielort" %>
	<% locations = Location.all %>
	<div class="check-boxes">
		<% locations.each do |l| %>
		<label class='check-box-label'>
			<%= check_box_tag l.id %>
			<%= l.description %>
		</label><br>
		<% end %>
	</div>
</div>

<div>
	<%= f.label "Spielform" %>
	<%= f.select :form, Game::FORM.collect{ |k, v| [v, k] }, prompt_for_selects %>
</div>

<div>
	<%= f.label "Spielintensität" %>
	<%= f.select :intensity, Game::INTENSITY_LEVELS.collect{ |k, v| [v, k] }, prompt_for_selects %>
</div>

<div>
	<%= f.label "Spielart" %>
	<div class="check-boxes">
		<% categories = Category.all %>
		<% categories.each do |c| %>
		<label class="check-box-label">
			<%= check_box_tag c.id %>
			<%= c.name %>
		</label><br>
		<% end %>
	</div>
</div>

<div>
	<%= f.label "Spielinhalt" %>
	<div class="check-boxes">
		<% categories = Content.all %>
		<% categories.each do |c| %>
		<label class="check-box-label">
			<%= check_box_tag c.id %>
			<%= c.name %>
		</label><br>
		<% end %>
	</div>
</div>
	
<div>
	<%= f.submit label %>
</div>

<% end %>
