<table class="default">
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Spieleranzahl</th>
    <th>Spielort</th>
    <th>Spielform</th>
		<th>&nbsp;</th>
  </tr>

<% games.each do |game| %>
  <tr>
		<td><%= link_to game.name, game %></td>
		<td><%= game.description %></td>
		<td>
			<ul>
				<% game.player_counts.each do |c| %>
					<li><%= c %></li>
				<% end %>
			</ul>
		</td>
		<td>
			<% game.locations.each do |l| %>
				<li><%= l %></li>
			<% end %>
		</td>
		<td><%= game.form_to_s %></td>
		
    <td><%= link_to 'Anpassen', edit_game_path(game) %><br />
    <%= link_to 'Löschen', game, :confirm => "Bist du sicher, dass das Spiel '#{game}' gelöscht werden soll?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
