<table class="default">
  <tr>
    <th width="15%">Name</th>
    <th width="40%">Beschreibung</th>
    <th width="15%">Spieleranzahl</th>
    <th width="12%">Spielform</th>
		<th width="5%">&nbsp;</th>
  </tr>

<% games.each do |game| %>
  <tr>
		<td><%= link_to game.name, game %></td>
		<td><%= game.description %></td>
		<td>
			<ul>
				<% game.player_counts.each do |c| %>
					<li><%= c %></li>
				<% end %>
			</ul>
		</td>
		<td><%= game.form_to_s %></td>
		
    <td><%= link_to 'Anpassen', edit_game_path(game) %><br />
    <%= link_to 'Löschen', game, :confirm => "Bist du sicher, dass das Spiel '#{game}' gelöscht werden soll?", :method => :delete %></td>
  </tr>
<% end %>
</table>

