<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Zettelkasten" %></title>
    <%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "form" %>
		<%= stylesheet_link_tag "autocompleter" %>
		<%= stylesheet_link_tag "table" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="page">
	
			<div id="header"></div>
	
			<div id="content">
				
				<div class="left-column">
					<ul class="navigation">
						<p>
						</p>
						<li><%= link_to "Home", "/" %></li>
						<li><%= link_to "Spielesuche", search_path %></li>
						<li><%= link_to "Spielearchiv", games_path %></li>
						<%= yield(:menu) %>
						<li><%= link_to "Kontakt", :controller => "root", :action => "contact"%></li>
						<li><%= link_to "Disclaimer", :controller => "root", :action => "disclaimer"%></li>
					</ul>
				</div>
				
				<div class="right-column">
				
	      	<% flash.each do |name, msg| %>
		        <%= content_tag :div, msg, :id => "flash_#{name}" %>
		      <% end %>
		      <%= content_tag :h1, yield(:title) if show_title? %>
		      <%= yield %>
				</div>
				
				<div class="clear">
				</div>
				
			</div>
			<div id="footer"></div>
    </div>
  </body>
</html>
